<mat-toolbar color="primary">
  <mat-toolbar-row>
    <span>Pstar app</span>
    <span class="example-spacer"></span>
    
    <mat-icon class="example-icon" [routerLink]="['/abbreviations']">Abbrivataions</mat-icon>
    
    <mat-icon class="example-icon" [routerLink]="['/categories']">Categories</mat-icon>
    
    <mat-icon class="example-icon" [routerLink]="['/pstar-exam']">Take the test</mat-icon>
  </mat-toolbar-row>
</mat-toolbar>

<router-outlet></router-outlet>

<mat-toolbar color='accent'>
  <span class='spacer'></span>
    <h5>© Copyright Angular Apps 2017.</h5>
  <span class='spacer'></span>
</mat-toolbar>