<mat-toolbar color="primary">
  <mat-toolbar-row>
    <span>Pstar app</span>
    <span class="example-spacer"></span>
    
    <button mat-raised-button color="primary" [routerLink]="['abbreviations']">Abbrivataions </button>
    <button mat-raised-button color="accent" [routerLink]="['/categories']">Categories</button>
    <button mat-raised-button color="accent" [routerLink]="['/pstar-exam']">Take the test</button>
    
  </mat-toolbar-row>
</mat-toolbar>

<router-outlet></router-outlet>

<mat-toolbar color='accent'>
  <span class='spacer'></span>
    <h5>© Copyright Angular Apps 2017.</h5>
  <span class='spacer'></span>
</mat-toolbar>