


<mat-list>
  <h2 mat-subheader>A</h2>
  <mat-list-item *ngFor="let abbreviation of abbreviations['A']">
    <mat-icon mat-list-icon>folder</mat-icon>
    <h4 mat-line>{{abbreviation.attr}}</h4>
    <p mat-line> {{abbreviation.text}} </p>
  </mat-list-item>
  
  <mat-divider></mat-divider>
  
  <h2 mat-subheader>B</h2>
    <mat-list-item *ngFor="let abbreviation of abbreviations['B']">
    <mat-icon mat-list-icon>folder</mat-icon>
    <h4 mat-line>{{abbreviation.attr}}</h4>
    <p mat-line> {{abbreviation.text}} </p>
  </mat-list-item>
  







