/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";


.spacer {
  -webkit-box-flex: 1;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
}

.example-spacer {
  flex: 1 1 auto;
}


.example-radio-group {
  display: inline-flex;
  flex-direction: column;
}
.example-radio-button {
  margin: 5px;
}
.example-selected-value {
  margin: 15px 0;
}


.example-header-image {
  background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
  background-size: cover;
}

.example-icon {
  padding: 0 14px;
}


.card {
   width: 80vw;
}


.mat-card {
/*	margin-bottom: 1.5rem; */
	
}

.bold { font-weight:bold;}

